<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<link rel="stylesheet" href="financeiro.component.css">



<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a routerLink="/financeiro">Financeiro</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/home">voltar</a></li>
    </ul>
  </div>
</nav>

<table class="striped">
  <thead>
    <tr>
        <th>Status</th>
        <th>Mês</th>
        <th>Boleto</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Pago</td>
      <td>janeiro</td>
      <td>R$ 400.00</td>
    </tr>
    <tr>
      <td>A vencer</td>
      <td>Jellybean</td>
      <td>$3.76</td>
    </tr>
    <tr>
      <td>Vencido</td>
      <td>Lollipop</td>
      <td>$7.00</td>
    </tr>
  </tbody>
</table>


